
<%- include("../include/header") %>
<div class="container">
<%- include("../include/partials/responseMessage") %>
    <form action="/api/register"
          method="POST"
          class="flex-center-column auth-form ">

        <h1 class="flex-center-row">
            注册新的账户/Sign up
            <img src="/assets/icons/user-plus.svg" alt="User">
        </h1>

        <div class="input-group">
            <label>用户名/Username</label>
            <input type="text" name="username" placeholder="li.hua.01">
        </div>

        <div class="input-group">
            <label>电子邮箱/Email</label>
            <input type="text" name="email" placeholder="li.hua.01@aliyun.com">
        </div>

        <div class="input-group">
            <label>密码/Password</label>
            <input type="password" name="password" placeholder="********">
        </div>

        <div class="input-group">
            <label>确认密码/Confirm Password</label>
            <input type="password" name="confirmPassword" placeholder="********">
        </div>

        <a href="/login" class="redirect-link">登录已有账号/Log In</a>

        <button type="submit" name="submit">注册/Sign Up</button>

    </form>
</div>

<script src="js/responseMessage.js"></script>
<%- include("../include/footer") %>