<nav>
    <a href="/" class="nav-brand">
        VDM22双人在线版/Online VDM22
    </a>

    <ul class="nav">
        <li class="nav-link">
            <a href="/register">注册/Sign Up</a>
        </li>


        <li class="nav-link">
            <a href="/login">登录/Log In</a>
        </li>
    </ul>
</nav>